snowflake_organization_name = "YOUR_ORG_NAME"
snowflake_account_name      = "YOUR_ACCOUNT_NAME"
snowflake_admin_user        = "YOUR_TRIAL_LOGIN"
snowflake_admin_password    = "changeme"
service_user_name           = "YOUR_TRIAL_LOGIN"
alert_email                 = "you@example.com"
